:root {
	--main-bg-color: rgb(15 23 42);
	--main-font-color: #93A2B7;
	--sans-decoration: #8296BD;
	--color-blanc: white;
	--color-turquoise: #51CACE;
}


body {
	background-color: var(--main-bg-color);
	font-family: 'Inter',ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	color: var(--main-font-color);
	padding: 5% 15%;
	overflow-x: hidden;
	position: relative;
}

html {
	overflow-x: hidden;
}

p {
	text-align: justify;
}

#logo > a {
	text-decoration: none;
}

#logo {
	display: flex;
	gap: 15px;
}

#menu {
	font-weight: bold;
	width: 90%;
}

#menu > h1 > a {
	text-decoration: none;
	color: var(--color-blanc);
	font-size: 2.25rem;
}

#menu > h2 {
	color: var(--color-blanc);
	font-size: 1.125rem;
}

.sans_decoration {
	text-decoration: none;
	color: var(--sans-decoration);
}

main {
	width: 55%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

#nav_menu ul {
	padding: 0;
}

#nav_menu li {
	list-style: none;
}

#logo a {
	text-decoration: none;
}

#all {
	display: flex;
	gap: 15%;
	flex-direction: row-reverse;
}

#presentation {
	margin-bottom: 10%;
}

#experience {
	row-gap: 20px;
	display: flex;
	flex-direction: column;
}

.card {
	display: flex;
	gap: 3%;
	padding: 20px;
	cursor: pointer;
	text-decoration: none;
	color: var(--main-font-color);
	border: 2px solid transparent; /* Ajoutez une bordure transparente par défaut */
}

.card:hover {
	border: 2px solid #162344;
	border-radius: 5px;
	background-color: #202a4473;
}

.card:hover h3 {
	color: var(--color-turquoise);
}

.left_card {
	width: 35%;
	margin: 0;
	text-align: initial;
}

#nav_menu {
	margin-top: 20%;
}

#nav_menu > a {
	transition: color 0.3s ease-in-out;
}

.content_card {
	width: 100%;
}

.content_card > h3 {
	margin: 0;
	color: var(--color-blanc);
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
}

.a_menu {
	display: flex;
	align-items: center;
	gap: 5%;
	width: 175px;
}

.line {
	border-top: 1px solid var(--sans-decoration); 
	width: 40px;
	transition: width 0.2s ease-in-out;
}

.hover_blanc:hover {
	filter: brightness(0) saturate(100%) invert(100%) sepia(100%) hue-rotate(0deg);
}

a:hover .line {
	width: 75px;
	border-top: 2px solid var(--color-blanc); 
}

.a_menu:hover {
	color: var(--color-blanc);
}

#avatar {
	width: 225px;
	height: 225px;
	border-radius: 50%;
	background-color: var(--color-blanc);
	overflow: hidden;
}

#all {
	min-height: 100vh;
}

header {
	left: 16%;
	width: 25%;
	height: 80%;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#avatar img {
	width: 100%; /* Ajuster la taille de l'image pour remplir le cercle */
	height: auto;
	object-fit: cover; /* Redimensionner et recadrer l'image pour remplir le cercle */
}

#cv {
	align-self: flex-start;
	text-decoration: none;
	color: var(--color-blanc);
	margin-left: 4%;
	display: flex;
	gap: 10px;
}


#arrow_right {
	width: 20px;
	transition: transform 0.3s;
}

#cv:hover #arrow_right {
	transform: translateX(10px);
}

#cv_texte {
	position: relative;
	overflow: hidden;
	font-weight: bold;
}

#cv_texte::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background-color: var(--color-turquoise);
	transition: width 0.3s ease-in-out;
}

#cv:hover #cv_texte::before {
	width: 100%;
}

.technologie {
	display: flex;
	background-color: #172d46;
	color: #5EE9D3;
	padding: 10px;
	border-radius: 15px;
	width: fit-content;
	margin: 0;
}

.container_technologies {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.container_technologies > p {
	font-size: 12px;
	font-weight: bold;
}

.texte_normal {
	font-size: 1rem;
}

.fleche_top {
	width: 15px;
	transform: scaleX(-1);
}

.card .fleche_top {
	transform: translate(0, 0) scaleX(-1);
	transition: transform 0.3s ease-in-out;
}

.card:hover .fleche_top {
	transform: translate(5px, -5px) scaleX(-1);
	filter: sepia(900%) hue-rotate(140deg) saturate(1050%)
}

.to_slide {
	transform: translateX(200%);
  	transition: transform 1.25s, border 0.5s ease, border-radius 0.5s ease, background-color 0.5s ease;
}

.to_slide.slide-in {
	transform: translateX(0);
}

.show_after {
	display: none;
}

img.left_card {
	height: fit-content;
	align-self: center;
	width: 170px;
}

#cyclo_img {
	height: 70px;
	align-self: center;
}

@media (max-width: 1100px) {
	header {
		position: relative;
		width: auto;
		left: auto;
	}

	#all {
		display: flex;
		flex-direction: column;
	}

	main {
		width: auto;
	}

	#nav_menu {
		display: none;
	}

	#menu {
		width: 100%;
	}

	.left_card {
		width: 70%;
	}

	#projets {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}

	#projets > .card {
		display: flex;
		flex-direction: column-reverse;
	}

	#experience > .card {
		display: block;
	}

	body {
		padding: 5% 5%;
	}

	.show_after {
		display: block;
		align-self: self-start;
		color: var(--color-blanc);
		font-size: .875rem;
	}

	.left_card {
		align-self: center;
	}
}